<!DOCTYPE html>
<html>
    {% include 'questions/base.html' %}

<body>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-group">
                    {% if questions %}
                        {% for question in questions %}
                            <li class="list-group-item">{{ question.question_text }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4">
                    <a class="btn btn-primary" href="/questions/question_form">Ask Question</a>
            </div>
        </div>
    </div>
</div>

{% include 'questions/footer.html' %}

</body>
</html>