<!DOCTYPE html>
<html lang="en">
  {% include 'questions/base.html' %}

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title" style="font-family: Chelsea Market">Most recent questions</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                            {% if questions %}
                                <div style="align-content: stretch; max-width: 70%">
                                <hr/>
                                {% for question in questions %}
                                    <a href="{% url 'questions:question_answers' question.id %}">{{ question.question_title }}</a> <br/>
                                    <span class="tag tag-primary">3 Answers</span>
                                    <span class="tag tag-primary">2 Votes</span>
                                  <hr/>
                                {% endfor %}
                                </div>
                            {% endif %}

                      </div>

                  </div>
              </div>

            {% if questions.has_other_pages %}
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if questions.has_previous %}
                  <li class="page-item">
                      <a class="page-link" aria-label="Previous" href="?page={{ questions.previous_page_number }}">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                {% endif %}

                {% for i in questions.paginator.page_range %}
                  {% if questions.number == i %}
                    <li class="page-item">
                        <a class="page-link">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </a>
                    </li>
                  {% else %}
                    <li class="page-item">
                        <a class="page-link"  href="?page={{ i }}">{{ i }}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if questions.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ questions.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                  </li>
                {% else %}
                  <li class="page-item">
                      <a class="page-link">
                        <span>&raquo;</span>
                      </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h5>Blog</h5>
            <ol class="list-unstyled">
              <li><a href="#">Spring Boot Discovery</a></li>
              <li><a href="#">JDBC Template</a></li>

            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="{% url 'questions:question_form' %}">Ask Question</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    {% include 'questions/footer.html' %}

  </body>
</html>
