<html>
    {% include 'questions/base.html' %}


    <script src="/static/bower_components/tinymce/tinymce.min.js"></script>
    <script src="/static/upvote/jquery.upvote.js" type="text/javascript"></script>
    <link href="/static/upvote/jquery.upvote.css" rel="stylesheet">

    <script type="text/javascript">
        tinymce.init({
            selector: '#questionAnswer',
            theme: 'modern',
            width: 1050,
            height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],

            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            relative_urls: false,
        });

        var answerCallback = function(data) {
                $.ajax({
                    url: '{% url 'questions:vote_answer' question.id %}',
                    type: 'post',
                    data: { id: data.id, up: data.upvoted, down: data.downvoted, star: data.starred, csrfmiddlewaretoken: '{{ csrf_token }}' }
                });
            };
    </script>



    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <div id="topic" class="upvote">
                            <a class="upvote upvote-on"></a>
                            <span class="count">{{ question.votes }}</span>
                            <a class="downvote"></a>
                            <a class="star"></a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <h3>{{ question.question_title }}</h3>
                        <hr/>

                        <div>
                            {% autoescape off %}{{ question.question_text }} {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ answers.count }} Answers
                        <hr/>
                    </div>
                </div>

                {% for answer in answers %}
                <div class="row">
                    <div class="col-md-1">
                        <div id="topic{{ answer.id }}" class="upvote">
                            <a class="upvote upvote-on"></a>
                            <span class="count">{{ answer.votes }}</span>
                            <a class="downvote"></a>
                            <a class="star"></a>
                        </div>
                        <script type="text/javascript">
                            $('#topic{{ answer.id }}').upvote({id: {{ answer.id }}, callback: answerCallback});
                        </script>
                    </div>
                    <div class="col-md-11">
                        {% autoescape off %} {{ answer.answer_text }} {% endautoescape %}
                    </div>
                </div>
                <hr/>
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        Your Answer
                        <form role="form" action="{% url 'questions:add_question_answer' question.id %}" method="post">
                            {% csrf_token %}
                            <textarea name="questionAnswer" id="questionAnswer"></textarea>
                            <br/>
                            <button type="submit" class="btn btn-default" contenteditable="true">Post Your Answer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var callback = function(data) {
                $.ajax({
                    url: '{% url 'questions:vote_question' question.id %}',
                    type: 'post',
                    data: { id: data.id, up: data.upvoted, down: data.downvoted, star: data.starred, csrfmiddlewaretoken: '{{ csrf_token }}' }
                });
            };

            $('#topic').upvote({id: 123, callback: callback});

        </script>

    {% include 'questions/footer.html' %}
</body>
</html>

