<!DOCTYPE html>
<html lang="en">
    {% include 'questions/base.html' %}

    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Title</label>
                                <input class="form-control" id="exampleInputEmail1" placeholder="What is your question? Be specific" type="email">
                            </div>
                            <div class="form-group">

                            </div>
                            <button type="submit" class="btn btn-default" contenteditable="true">Post Your Question</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>

