<html>
    {% include 'questions/base.html' %}

    <script src="/static/responsive-wysiwyg/editor.js"></script>
    <script>
        $(document).ready(function() {
            $("#txtEditor").Editor();
        });
    </script>
    <link href="/static/responsive-wysiwyg/editor.css" type="text/css" rel="stylesheet"/>

    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Title</label>
                                <input class="form-control" id="exampleInputEmail1" placeholder="What is your question? Be specific" type="email">
                            </div>
                            <div class="form-group">
                                <textarea id="txtEditor"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default" contenteditable="true">Post Your Question</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>

