<html>
    {% include 'questions/base.html' %}

    <script src="/static/bower_components/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#questionText',
            theme: 'modern',
            width: 1050,
            height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],

            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            relative_urls: false,
        });


    </script>
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" action="{% url 'questions:new_question' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="questionTitle">Title</label>
                                <input class="form-control" id="questionTitle" name="questionTitle" placeholder="What is your question? Be specific" type="text">
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" class="form-control" name="category">
                                   {% for category in categories %}
                                   <option value="{{ category.id }}">{{ category.category_desc }}</option>
                                   {% endfor %}
                                </select>
                                <br/>
                                <textarea id="questionText" name="questionText"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default" contenteditable="true">Post Your Question</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>

