<html>
    {% include 'questions/base.html' %}


    <script src="/static/bower_components/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#questionAnswer',
            theme: 'modern',
            width: 1050,
            height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],

            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            relative_urls: false,
        });
    </script>

    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{ question.question_title }}</h3>
                        <hr/>

                        <div>
                            {% autoescape off %}{{ question.question_text }} {% endautoescape %}
                        </div>

                        <br/>
                        Your Answer
                        <br/>


                        <br/>
                        <form role="form" action="{% url 'questions:add_question_answer' question.id %}" method="post">
                            {% csrf_token %}
                            <textarea name="questionAnswer" id="questionAnswer"></textarea>
                            <button type="submit" class="btn btn-default" contenteditable="true">Post Your Answer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>

